*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body 
{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-vid 
{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (max-aspect-ratio: 16/9)
{
    .back-vid 
    {
       width: auto;
       height: 100%;
    }
}

@media (min-aspect-ratio: 16/9)
{
    .back-vid 
    {
       width: 100%;
       height: auto;
    }
}


.main-section 
{
    height: 90%;
    width: 90%;
    background-color: #4ad0ee25;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 20px 1px #4acfee;
}

nav 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
}

nav h2 
{
    color: white;
    font-size: 30px;
    font-weight: 900;
}

nav h2 span 
{
    color: #4acfee;
}

nav ul 
{
    list-style: none;
    display: flex;
}

nav ul a 
{
    padding: 0 25px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

nav ul a:hover,
nav ul a.active
{
    color: #4acfee;
    text-decoration: underline;
}

.menu_btn 
{
    display: none;
}

@media(max-width : 991px)
{
    nav ul 
    {
       display: none;
       flex-direction: column;
       position: absolute;
       right: 10px;
       top: 80px;
       background-color: #4acfee;
       border-radius: 5px;
    }

    nav ul.active 
    {
       display: flex;
    }

    nav ul li a  
    {
        display: inline-block;
        padding: 8px 25px ;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: white !important;
    }

    nav h2 {
        font-size: 20px;
    }

    .main-section {
        border-radius: 20px;
    }

    .menu_btn 
    {
        display: block;
        background-color: transparent;
        color: #4acfee;
        font-size: 30px;
        border: none;
        outline: none;
        box-shadow: none;
    }

   
}


.hero 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 10%;
    height: 70%;
}

.hero_info h1
{
    font-size: 50px;
}  

.hero_info h2 
{
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0;
    background: linear-gradient(to right, #4acfee, #53f8c9, #6070fd, #5bbdff, #4acfee);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text-animate 2.5s linear infinite;
}

@keyframes text-animate {
    to {
         background-position: 200%;
    }
}

.hero_info p 
{
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    max-width: 450px;
    width: 100%;
    margin-bottom: 10px;
    margin-bottom: 20px;
}

.hero_icons 
{
    display: flex;
    align-items: center;
}

.hero_icons .btn 
{
    font-size: 16px;
    font-weight: 900;
    padding: 15px 30px;
    border-radius: 40px;
    cursor: pointer;
    background-color: #4acfee;
    border: 2px solid #4acfee;
    box-shadow: 0 0 10px #4acfee;
    color: black;
    transition: 0.3s;
    text-wrap: nowrap;
}

.hero_icons .btn:hover 
{
    background-color: transparent;
    color: #4acfee;
    box-shadow: none;
}

.ul_icons 
{
    display: flex;
}

.ul_icons li 
{
    margin-left: 10px;
    list-style: none;
}

.ul_icons li a 
{
    display: inline-flex;
    text-decoration: none;
    font-size: 20px;
    color: #4acfee !important;
    border: 2px solid #4acfee;
    padding: 8px;
    border-radius: 50%;
    margin: 0 5px;
    transition:  0.3s ;

    &:hover 
    {
        background-color: #4acfee;
        color: black !important;
        box-shadow: 0 0 10px #4acfee;
    }
}

.img-box 
{
    width: 400px;
    height: 400px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px #4acfee;
    overflow: hidden;
    position: relative;
    transition: 0.5s;

    &:hover 
    {
        box-shadow: 0 0 25px #4acfee; 
    }
}

.img-box img 
{
    position: absolute;
    width: 85%;
    mix-blend-mode: lighten;
}

@media(max-width : 991px)
{
    body 
    {
        padding: 20px 0;
        height: auto;
    }

    nav {
        padding: 30px 6%;
    }

    .hero 
    {
        height: auto;
        flex-direction: column;
        padding: 5% 6%;
        gap: 20px 0;
    }
    .hero_icons {
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
    }

    .img-box {
        width: 260px;
        height: 260px;
    }

}

.cards 
{
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}

.info_card 
{
    display: flex;
    align-items: center;
    max-width: 120px;
}

.info_card  h1 
{
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(to right, #4acfee, #53f8c9, #6070fd, #5bbdff, #4acfee);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text-animate 2.5s linear infinite;
}

.info_card p 
{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}

@media(max-width : 575px)
{
    .info_card {
        max-width: 100%;
    }
    .cards {
        flex-direction: column;
        gap: 20px;
    }
}

@media(min-width : 576px) and (max-width : 991px)
{

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 575px;
        width: 100%;
        margin: 0 auto;
    }

    .info_card {
        max-width: 100%;
    }
}

@media(max-width : 991px)
{
    .cards {
        padding: 0 6%;
    }
}